In [7]:
import pandas as pd
import os
import warnings
warnings.filterwarnings("ignore")

In [8]:
train = pd.read_csv('data/rossmann-store-sales/train.csv')
train['Date'] = pd.to_datetime(train['Date'])
train.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [9]:
train_d = train.set_index('Date').resample('D').agg({'Sales': 'sum', 'Promo': 'sum', 'Customers': 'sum',
                                                    'Open': 'sum', 'SchoolHoliday': 'sum'}).reset_index()
train_d.head()

        Date    Sales  Promo  Customers  Open  SchoolHoliday
0 2013-01-01    97235      0      19491    17           1114
1 2013-01-02  6949829      0     834075  1111           1115
2 2013-01-03  6347820      0     761040  1109           1040
3 2013-01-04  6638954      0     782137  1108           1040
4 2013-01-05  5951593      0     687472  1107            112

In [13]:
train_d = train_d.sample(frac=1).reset_index(drop=True)

In [14]:
train_d.to_csv(os.path.join("data", "rossmann_daily.csv"), index=False)